
/* Flashing Text */
.flashing-text {
  animation: flash 1s infinite alternate;
}

@keyframes flash {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Dancing Text */
.dancing-text {
  animation: dance 1s infinite alternate;
}

@keyframes dance {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}
